{erl_opts, [
        {parse_transform, lager_transform}
    ]}. 
{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}}
        ,{yaws, ".*", {git, "https://github.com/klacke/yaws.git", {branch, "master"}}}
        ,{log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", {branch, "master"}}}
    ]}.
